html, body {
height : 100%;
width : 100%;
margin : 0;
padding : 0;
font-family : 'Oxygen', sans-serif;
color : #84B4C3;
background-color : #000;
}


.navbar {
background-color : #000;
border: 0px;
padding-bottom: 10px;
position: fixed;

    
}

.navbar-default .navbar-brand {
color : #84B4C3;
font-size : 2em;
padding-left : 30px;
    margin-left: 0px;
}

.navbar-default .navbar-brand > a {
color : #84B4C3;
   
}

#header-nav {
width : 100%;
z-index : 5;
top : 0;
padding-right : 0px important!
}

#headernav .container{
    padding-left:-15px;
}

.navbar-default .navbar-nav > li > a {
color : #84B4C3;
}

.navbar-default .navbar-brand > a:hover {
text-decoration : none;
}

.navbar-default .navbar-nav > li > a {
text-align : center;
}

.navbar-default .navbar-nav > li > a:hover {
color : #ffd800;
}

.navbar-default .navbar-nav > li > a:focus {
color : #ffd800;
}

.nav > li {
background-color : #000;
z-index : 10;
}

li:last-child {
border-bottom : none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
border : #84B4C3 solid 1px;
}
.icon-small {
height : 18px;
margin : 0;
padding : 0;
}
.icon-medium {
height : 22px;
margin : 0;
padding : 0;
}
.dropdown-open > li {
background-color : #000;
}
.dropdown-menu {
background-color : black;
}
.dropdown-menu li {
display : block;
background-color : #000;
}
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
color : #fff;
text-decoration : none;
background-color : #000;
}
.navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
background-color : #000;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color : #84B4C3;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
color : #ffd800;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
color : #fff;
background-color : #84B4C3;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #ffd800;
    background-color: #000;
}

.navbar-collapse {
   padding-left: 0px;
    padding-right: 0px;
}

/*---------------END NAVIGATION-------------*/


/*---------------FOOTER-------------*/

#footer {
position : fixed;
bottom : 0px;
width : 100%;
    height:40px;
    background-color: #000;
    z-index:10;
}

#footer ul {
margin-top:3px;
display : flex;
justify-content: flex-end;
list-style-type : none;
margin-right : 50px;
}

#footer li {
display : inline-flex;
margin : 0 20px;
}
#social-right{
    width: 36px;
    height:100%;
    background: red;
    position: fixed;
}

/*---------------END FOOTER-------------*/

.picture {
background-repeat : no-repeat;
background-attachment : fixed;
background-position : center;
background-size : contain;
}

#firstpage {
background-image : url(../images/home_bg.webp);
  height:100%;
}

#aboutpage {
background-image : url(../images/about.webp);
}

#mediapage {
background-image : url(../images/media.webp);
   }
#calendarpage{
    background-image : url(../images/calendar.webp);
}
#gallerypage {
    background-image : url(../images/gallery.webp);
    height:100%;
    background-size: cover;
}


#projectspage {
background-image : url(../images/projects.webp);
   }

#sessionpage {
    background-image: url(../images/session.webp);
    height: 100%;
}

#contactpage {
    background-image: url(../images/contact.webp);
    height: 100%; 
}
#contactform {
    width: 300px;
}

#overlaytext h1 {
font-family : 'Poiret One', cursive;
font-size : 10vw;
color : #84B4C3;
font-weight : 100;
text-align : center;
margin-top : 50vh;
}

.fadeInUp {
animation-name : fadeInUp;
animation-duration : 1s;
animation-fill-mode : both;
}
@keyframes fadeInUp {
0% {
opacity : 0;
transform : translate3d(0,100%,0);
}
100% {
opacity : 1;
transform : none;
}
}
.fadeInLeft {
animation-name : fadeInLeft;
animation-duration : 1s;
animation-fill-mode : both;
}
@keyframes fadeInLeft {
0% {
opacity : 0;
transform : translate3d(-100%,0,0);
}
100% {
opacity : 1;
transform : none;
}
    
}

#contenttext {
color : #84B4C3;
margin-top : 200px;
float:left;
width:70%;
 }

.content {
background-color: #000;
    opacity: 0.8;
}

#nobg > content{
  background-color: rgba (0 0 0 0); 
  
}

#contenttext h1 {
font-family : 'Poiret One', cursive;
font-size : 5em;
}

#contenttext p {
font-size : 1.3em;
font-family : sans-serif;
font-weight : 100;
margin-top : 20px;
}

.content {
padding: 10px;
width: 80%;
height: auto;
}

.btn-default{
    background-color: #84B4C3;
    border-color: #fff;
    color: #fff;
}

/* ---------------GALERIE------------------ */

#galerie {
    height: 100%;
    display: flex;
    align-items: flex-end;
   padding-bottom: 40px;
}

.gallery{
   
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
   
    
}
.thumb {
    width: 100px;
    height:100px;
    border: 1px solid #ddd;
  border-radius: 4px;
    margin:10px;
    background-size: cover;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;

}
#thumb01 {
    background-image: url(/img/01.webp);  
}
#thumb02 {
    background-image: url(/img/02.webp);  
}
#thumb03 {
    background-image: url(/img/03.webp);  
}
#thumb04 {
    background-image: url(/img/04.webp);  
}
#thumb05 {
    background-image: url(/img/05.webp);  
}
#thumb06 {
    background-image: url(/img/06.webp);  
}
#thumb07 {
    background-image: url(/img/07.webp);  
}
#thumb08 {
    background-image: url(/img/08.webp);  
}
#thumb09 {
    background-image: url(/img/09.webp);  
}
#thumb10 {
    background-image: url(/img/10.webp);  
}
#thumb11 {
    background-image: url(/img/11.webp);  
}
#thumb12 {
    background-image: url(/img/12.webp);  
}
#thumb13 {
    background-image: url(/img/13.webp);  
}
#thumb14 {
    background-image: url(/img/14.webp);  
}
#thumb15 {
    background-image: url(/img/15.webp);  
}
#thumb16 {
    background-image: url(/img/16.webp);  
}
#thumb17 {
    background-image: url(/img/17.webp);  
}


/*------------------CALENDAR---------------------*/
.event-list {
		list-style: none;
		font-family: 'Lato', sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: #84B4C3;
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(0, 108, 109); /*165, 82, 167*/
	}
	.event-list > li > time .year{
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 4em;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 2px;
		text-align: center;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}

/*-----------------------------END CALENDAR-----------------------------*/

@media (max-width:767px) {
.navbar-brand {
padding-top : 10px;
height : 80px;
}
    
.navbar-default .navbar-brand {
margin-top: 5px;
}
    
    
.navbar-nav li {
display : block;
float : none;
}
#collapsable-nav li {
display : block;
float : none;
}
#collapsable-nav a {
font-size : 1.2em;
text-align : center;
}
#collapsable-nav a span {
font-size : 1em;
margin-right : 5px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
background-color : #000;
}
    #footer ul {
    justify-content: center;

}
    #contenttext h1 {
        font-size: 10vw;
    }
    #contenttext {
        width: 100%;
    }
    .content {
        width: 100%;
    }

}



@media (max-width:575px)
    
    
    
@media (min-width:768px) and (max-width:908px) {
.parent-class .navbar-collapse.collapse {
display : none;
}
.parent-class .navbar-collapse.collapse.in {
display : block;
}
.parent-class .navbar-header .collapse, .navbar-toggle {
display : block;
}
.parent-class .navbar-header {
float : none;
}
}
